/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

footer
{
    text-align: center;
    color: #ffffff;
    position: fixed;
    height: 50px;
    background-color: #343A40;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}


.form-title
{
    padding-left: 38%;
    padding-right: 37%;
    padding-top: 5%;
}

.form-margin
{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 3%;
}

.table-favourites
{
   background-color: #343A40;
   text-align: center;
   color: #ffffff;
   margin-bottom: -5px;
}

.table-non-favourites
{
   background-color: #343A40;
   text-align: center;
}